POSTGRES_USER=kafe_user
POSTGRES_PASSWORD=kafe_pass
POSTGRES_DB=kafe_db
JWT_SECRET=change_me_in_production_supersecret
JWT_EXPIRES_IN=7d
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3001
