--
-- PostgreSQL database dump
--

\restrict sl0zhkp0RhjL20Gm7oh54aRAAhSRZ4Ofk6bDmH2cge2XDnW3zU5YQcKjq03oKqC

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: kafe_user
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO kafe_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: kafe_user
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'B2B',
    'B2C',
    'STAFF'
);


ALTER TYPE public."Role" OWNER TO kafe_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AccountTransaction; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."AccountTransaction" (
    id text NOT NULL,
    "cafeAccountId" text NOT NULL,
    amount double precision NOT NULL,
    type text NOT NULL,
    description text NOT NULL,
    "orderId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AccountTransaction" OWNER TO kafe_user;

--
-- Name: CafeAccount; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."CafeAccount" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "companyName" text NOT NULL,
    "taxNumber" text NOT NULL,
    "taxOffice" text NOT NULL,
    address text NOT NULL,
    balance double precision DEFAULT 0 NOT NULL,
    "creditLimit" double precision DEFAULT 10000 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CafeAccount" OWNER TO kafe_user;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Category" OWNER TO kafe_user;

--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."Invoice" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "invoiceNumber" text NOT NULL,
    "externalId" text,
    "pdfUrl" text,
    "issuedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Invoice" OWNER TO kafe_user;

--
-- Name: Location; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."Location" (
    id text NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    phone text,
    note text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Location" OWNER TO kafe_user;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "userId" text,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "totalAmount" double precision NOT NULL,
    "paymentType" text NOT NULL,
    "shippingAddr" text NOT NULL,
    "trackingCode" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "guestEmail" text,
    "guestName" text,
    "guestPhone" text,
    "customerId" text
);


ALTER TABLE public."Order" OWNER TO kafe_user;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer NOT NULL,
    "unitPrice" double precision NOT NULL
);


ALTER TABLE public."OrderItem" OWNER TO kafe_user;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "imageUrl" text,
    "b2cPrice" double precision NOT NULL,
    "b2bPrice" double precision NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    unit text DEFAULT 'adet'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "categoryId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "discountPct" integer DEFAULT 0 NOT NULL,
    brand text,
    "kdvRate" integer DEFAULT 18 NOT NULL
);


ALTER TABLE public."Product" OWNER TO kafe_user;

--
-- Name: Route; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."Route" (
    id text NOT NULL,
    "userId" text NOT NULL,
    date date NOT NULL,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Route" OWNER TO kafe_user;

--
-- Name: RouteItem; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."RouteItem" (
    id text NOT NULL,
    "routeId" text NOT NULL,
    "locationId" text NOT NULL,
    "order" integer NOT NULL,
    visited boolean DEFAULT false NOT NULL,
    "visitedAt" timestamp(3) without time zone,
    notes text
);


ALTER TABLE public."RouteItem" OWNER TO kafe_user;

--
-- Name: RouteSale; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."RouteSale" (
    id text NOT NULL,
    "routeItemId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer NOT NULL,
    "unitPrice" double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RouteSale" OWNER TO kafe_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text NOT NULL,
    phone text,
    role public."Role" DEFAULT 'B2C'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "locationId" text,
    "assignedStaffId" text,
    segment text,
    "isActive" boolean DEFAULT true NOT NULL,
    permissions text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public."User" OWNER TO kafe_user;

--
-- Name: VisitLog; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public."VisitLog" (
    id text NOT NULL,
    "staffId" text NOT NULL,
    "customerId" text NOT NULL,
    "locationId" text,
    action text NOT NULL,
    "orderId" text,
    lat double precision,
    lng double precision,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."VisitLog" OWNER TO kafe_user;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: kafe_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO kafe_user;

--
-- Data for Name: AccountTransaction; Type: TABLE DATA; Schema: public; Owner: kafe_user
--



--
-- Data for Name: CafeAccount; Type: TABLE DATA; Schema: public; Owner: kafe_user
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: kafe_user
--



--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: kafe_user
--

COPY public."Invoice" (id, "orderId", "invoiceNumber", "externalId", "pdfUrl", "issuedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Location; Type: TABLE DATA; Schema: public; Owner: kafe_user
--

COPY public."Location" (id, name, address, phone, note, "isActive", "createdAt", "updatedAt") FROM stdin;
cmpy3bqdj00021fve849sb1ci	test	zafer mah doğan araslı bulvarı n cadde ottoman iş merkezi no 95 1 b blok 63	05471753434	test	t	2026-06-03 13:16:44.743	2026-06-03 13:16:44.743
cmpy47vzp000012t4u52jneks	test	zafer mah doğan araslı bulvarı n cadde ottoman iş merkezi no 95 1 b blok 63	05471753434	test	t	2026-06-03 13:41:45.013	2026-06-03 13:41:45.013
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: kafe_user
--



--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: kafe_user
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: kafe_user
--



--
-- Data for Name: Route; Type: TABLE DATA; Schema: public; Owner: kafe_user
--

COPY public."Route" (id, "userId", date, note, "createdAt") FROM stdin;
cmpy4bu7r0001ntplb8rbb8i8	cmpxw92qg000012e4sslfzf34	2026-06-03	Ozgur Mehmetoglu müşteri rotası	2026-06-03 13:44:49.335
\.


--
-- Data for Name: RouteItem; Type: TABLE DATA; Schema: public; Owner: kafe_user
--

COPY public."RouteItem" (id, "routeId", "locationId", "order", visited, "visitedAt", notes) FROM stdin;
cmpy4bu7r0003ntpl71d7i85l	cmpy4bu7r0001ntplb8rbb8i8	cmpy47vzp000012t4u52jneks	1	f	\N	\N
\.


--
-- Data for Name: RouteSale; Type: TABLE DATA; Schema: public; Owner: kafe_user
--

COPY public."RouteSale" (id, "routeItemId", "productId", quantity, "unitPrice", "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: kafe_user
--



--
-- Data for Name: VisitLog; Type: TABLE DATA; Schema: public; Owner: kafe_user
--

COPY public."VisitLog" (id, "staffId", "customerId", "locationId", action, "orderId", lat, lng, note, "createdAt") FROM stdin;
cmpz9hcre0001bb2mn8xpd2hk	cmpxw92qg000012e4sslfzf34	cmpy3akef00001fvecyun3apn	cmpy47vzp000012t4u52jneks	VISIT_START	\N	41.024029	28.683127	\N	2026-06-04 08:56:50.906
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: kafe_user
--



--
-- Name: AccountTransaction AccountTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."AccountTransaction"
    ADD CONSTRAINT "AccountTransaction_pkey" PRIMARY KEY (id);


--
-- Name: CafeAccount CafeAccount_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."CafeAccount"
    ADD CONSTRAINT "CafeAccount_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: Location Location_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Location"
    ADD CONSTRAINT "Location_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: RouteItem RouteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."RouteItem"
    ADD CONSTRAINT "RouteItem_pkey" PRIMARY KEY (id);


--
-- Name: RouteSale RouteSale_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."RouteSale"
    ADD CONSTRAINT "RouteSale_pkey" PRIMARY KEY (id);


--
-- Name: Route Route_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Route"
    ADD CONSTRAINT "Route_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: VisitLog VisitLog_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."VisitLog"
    ADD CONSTRAINT "VisitLog_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: CafeAccount_taxNumber_key; Type: INDEX; Schema: public; Owner: kafe_user
--

CREATE UNIQUE INDEX "CafeAccount_taxNumber_key" ON public."CafeAccount" USING btree ("taxNumber");


--
-- Name: CafeAccount_userId_key; Type: INDEX; Schema: public; Owner: kafe_user
--

CREATE UNIQUE INDEX "CafeAccount_userId_key" ON public."CafeAccount" USING btree ("userId");


--
-- Name: Category_name_key; Type: INDEX; Schema: public; Owner: kafe_user
--

CREATE UNIQUE INDEX "Category_name_key" ON public."Category" USING btree (name);


--
-- Name: Category_slug_key; Type: INDEX; Schema: public; Owner: kafe_user
--

CREATE UNIQUE INDEX "Category_slug_key" ON public."Category" USING btree (slug);


--
-- Name: Invoice_invoiceNumber_key; Type: INDEX; Schema: public; Owner: kafe_user
--

CREATE UNIQUE INDEX "Invoice_invoiceNumber_key" ON public."Invoice" USING btree ("invoiceNumber");


--
-- Name: Invoice_orderId_key; Type: INDEX; Schema: public; Owner: kafe_user
--

CREATE UNIQUE INDEX "Invoice_orderId_key" ON public."Invoice" USING btree ("orderId");


--
-- Name: Product_slug_key; Type: INDEX; Schema: public; Owner: kafe_user
--

CREATE UNIQUE INDEX "Product_slug_key" ON public."Product" USING btree (slug);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: kafe_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: AccountTransaction AccountTransaction_cafeAccountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."AccountTransaction"
    ADD CONSTRAINT "AccountTransaction_cafeAccountId_fkey" FOREIGN KEY ("cafeAccountId") REFERENCES public."CafeAccount"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CafeAccount CafeAccount_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."CafeAccount"
    ADD CONSTRAINT "CafeAccount_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Invoice Invoice_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrderItem OrderItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Order Order_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RouteItem RouteItem_locationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."RouteItem"
    ADD CONSTRAINT "RouteItem_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES public."Location"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RouteItem RouteItem_routeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."RouteItem"
    ADD CONSTRAINT "RouteItem_routeId_fkey" FOREIGN KEY ("routeId") REFERENCES public."Route"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RouteSale RouteSale_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."RouteSale"
    ADD CONSTRAINT "RouteSale_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RouteSale RouteSale_routeItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."RouteSale"
    ADD CONSTRAINT "RouteSale_routeItemId_fkey" FOREIGN KEY ("routeItemId") REFERENCES public."RouteItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Route Route_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."Route"
    ADD CONSTRAINT "Route_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_assignedStaffId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_assignedStaffId_fkey" FOREIGN KEY ("assignedStaffId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_locationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES public."Location"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: VisitLog VisitLog_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."VisitLog"
    ADD CONSTRAINT "VisitLog_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: VisitLog VisitLog_staffId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kafe_user
--

ALTER TABLE ONLY public."VisitLog"
    ADD CONSTRAINT "VisitLog_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict sl0zhkp0RhjL20Gm7oh54aRAAhSRZ4Ofk6bDmH2cge2XDnW3zU5YQcKjq03oKqC

